* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: white;
  font-size: 1.6rem;
}

header {
  width: 100vw;
  height: 160px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

header .titulo {
  color: white;
}

header input {
  width: 400px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(68, 68, 68);
  border: none;
  padding-inline: 15px;
  color: white;
  letter-spacing: 1.6px;
  font-size: 1em;
}

header input::placeholder {
  color: rgb(192, 192, 192);
}

header img {
  width: 20px;
  position: relative;
  top: -2.4em;
  left: 11em;
}

main {
  padding-inline: 3.2rem;
  max-width: 70rem;
  margin-inline: auto;
  margin-bottom: 3.2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;

  /*width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;*/
}

.card {
  flex: 1;
  border-radius: 10px;
  background-color: rgb(68, 68, 68);
  padding: 17px 25px;
  transition: 250ms;
  opacity: 0.9;
}

.cards:has(.card:hover) .card:not(:hover) {
  opacity: .6;
  scale: .98;
}

.card .titulo-card{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.card .titulo-card img {
  width: 30px;
  height: 30px;
}

.card p{
  text-align: left;
  margin-bottom: 10px;
  opacity: 0.5;
}

.card a{
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 200ms;
}

.card a:hover{
  color: rgb(116, 232, 0);
}
