.App {
    background-color: deepskyblue;
    width: 400px;
    height: 400px;

    margin: 0 auto;
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    padding: 5px;
}